*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/final23.PNG);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #007FFF;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
     width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
color: #007FFF;
}
/*------------------------about-------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
#about-me-title{
    display:block;
    margin-left: -350px;
    margin-top: 40px;
}
#about-me-paragragh{
    display:block;
    margin-top: -65px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 900;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 90px 20px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:' ';
    width:0;
    height:3px;
    background:#007FFF;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style:none;
    margin: 5px 0;
}
.tab-contents ul li span{
    color: #007FFF;
    font-size:14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#full-body-pic{
    margin-top: 190px;
    margin-left: -40px;
}

#tennis-awards ul li {
    font-size: 0.8em; 
}
#tennis-awards ul li span, #karate ul li span, #athletics ul li span, #experience ul li span{
display:block;
margin-bottom: 20px;
margin-top: 20px;
}
#athletics, #karate ul li, #education{
    font-size: 0.8em;
    text-align: center;
}

#about #karate li:first-child {
    display: block;
    color: rgb(4, 79, 199);
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 40px;
}
#experience{
    font-size: 0.8em;
}
#experience ul li span{
    font-weight: bolder;
}
#experience ul .tutor-item {
    display: block;
    font-weight: bold;
    color: #007FFF;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #education ul li span{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  #education ul .certifications{
font-weight:bold;
  }

/*------------------------------services---------------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background:#262626;
    padding:40px;
    font-size:13px;
    font-weight:300;
    border-right:10px;
    transition:  background  0.5s, transform 0.5s;
}
.services-list div i{
    font-size:50px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:15px;
}
.services-list div a{
    text-decoration:none;
    color:#fff;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.services-list div:hover{
    background:#007FFF;
    transform: translateY(-10px);
}
/*--------------------hobbies---------------------*/
#hobbies{
    padding:50px 0;
}
.hobbies-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.activities{
    border-radius:10px;
    position: relative;
    overflow:hidden;
}
.activities img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6), #007FFF);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight:500;
    margin-bottom:20px;
}
.layer a{
    margin-top:20px;
    color:#007FFF;
    text-decoration:none;
    font-size:18px;
    line-height:60px;
    background:#fff;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;
}
.activities:hover img{
    transform:scale(1.1);
}
.activities:hover .layer{
    height:100%;
}
.btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #007FFF;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration:none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background:#007FFF;
}

/*-------------------contact--------------------*/
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#007FFF;
    margin-right:15px;
    font-size:25px;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-left: 35px;
    margin-right:15px;
    color:#ababab;
    display:inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color:#007FFF;
    transform:translateY(-5px);
}
.btn.btn2{
    display:inline-block;
    margin-left: 90px;
    background:#007FFF;
}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius:6px;
}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor:pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:#262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color:#007FFF;
}
#socials{
    display: block;
    color:#007FFF;
    font-weight:bolder;
    margin-left: 75px;
}
/*-------------------------------css for small screens---------------------------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        margin: 0;
        padding: 0;
        background: #080808;
        color: #fff;
        width: 100%;
    }
    #header{
        background-image: url(images/phone-bckgrnd.PNG);
        width: 100%;
    }
    #bar-icon{
        margin-left: 20%;
        margin-top: 2%;
    }
    #full-body-pic{
        width: 35vh;
        margin-left: 0%;
        margin-top: 0vh;

    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #007FFF;
        position: fixed;
        padding: 0;
        margin: 0;
        top: 0;
        right: 0px;
        width: 229px;
        height: 40%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #services{
        margin-top: -10vh;
        margin-left: 3vh;
    }
    .sub-title{
        font-size:40px;
    }
    #my-services-sub-title{
        margin-left: 3vh;
    }
    #hobbies-sub-title{
        margin-left: 14vh;
    }
    .activities{
        margin-left: 5vh;
    }
    .btn{
        margin-top: 25%;
        margin-left: 22%;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 12px;
        margin-right: 0;
        margin-left: 6px;
    }
    #tennis-awards{
        width: 300px;
    }
    #karate{
        width: 300px;
        margin-left: 0;
    }
    #athletics{
        margin-left: 0;
        width: 300px;
    }
    #experience{
        width: 300px;
        margin-left: 0;
    }
    #education{
        width: 300px;
        margin-left: 0;
    }
    .services-list{
        margin-left: -7%;
    }
    #hobbies-sub-title{
        margin-left: 20%;
    }
    .hobbies-list{
        margin-left: -10%;
    }
    #contact-me-section{
        width: 100%;
        text-align: center;
        margin-top: -5vh;
        margin-left: 0;
     }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-right{
        margin-left: 0%;
    }
    .copyright{
        font-size: 14px;
        width: 100%;
    }
    #about-me-title{
        margin-top: 1vh;
        margin-bottom: -5vh;
        margin-left: 0%;
    }
    #about-me-paragragh{
        margin-top: 7vh;
        margin-bottom: -5vh;
        margin-left: 0%;
        width: 310px;
    }
 .container{
    width: 100%;
    margin-right: 0vh;
    margin-left: 0vh;
 }

 .fa-brands{
    margin-left: -3vh;
 }
#socials{
    margin-left: 20%;
}
.social-icons{
    margin-left: 18%;
}
#download-cv-button{
    margin-left: 25%;
}
#submit-button{
    margin-left: 20%;
}
}
